@use "./src/style";
@use "./src/cassetteStyles";
@use "./src/displayOutputStyles";
@use "./src/initiateGameStyles";

body {
    margin: 0;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 320px;
    min-height : 100vh;
  }

