:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.962);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1000px;
  margin: 0;
  padding: 1em;
  text-align: center;
  background-color: rgb(244, 241, 226);
  border-radius: 30px;
  border: 2px solid black;
}

.image-container {
  background-image: url("/images/favourite cassette full size.jpg"), linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  overflow-x: hidden;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 500;
  margin-bottom: 0.5em;
  border-radius: 8px;
}

.playButton, .newGameButton {
  border-radius: 8px;
  border: 2px solid transparent;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(244, 117, 20);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 0.4em;
}
.playButton:hover, .newGameButton:hover {
  border-color: rgb(88, 63, 63);
}

.submitGuessButton {
  border-radius: 8px;
  border: 2px solid transparent;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 0.4em;
}
.submitGuessButton:hover {
  border-color: rgb(88, 63, 63);
}

.guessInput-Container {
  display: flex;
  flex-direction: column;
}
.guessInput-Container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1em;
  color: black;
}
.guessInput-Container input[type=text] {
  border-radius: 8px;
  border: 2px solid transparent;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  font-size: 0.7em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 0.4em;
  text-align: center;
}
.guessInput-Container input[type=text]:focus {
  /* Additional styles for when input is focused */
  outline: none;
  border-color: #007bff;
}
.guessInput-Container .image-container-winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.2;
  background-image: "./src/images/testMadonnaImage.png";
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  font-weight: 500;
  margin-bottom: 0.5em;
  border-radius: 8px;
  max-width: 100px;
  max-height: 50px;
}

.output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
}

.getStartedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameName {
  font-size: 1.4em;
  padding-left: 0.3em;
  margin-bottom: 0.4em;
}

body {
  margin: 0;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}/*# sourceMappingURL=main.css.map */