

.controlButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.2em;
  background-color: rgb(244, 117, 20);
  width:100%;
}

.ninjaButton , .audioPauseButton, .restartButton {
  border-radius: 50%;
  border: 2px solid black;
  padding: 0.3em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-align: centre;
  font-family: inherit;
  background-color: white;
  transition: border-color 0.25s;
  margin: 10px;
}
    
.gameName {
  font-size: 2em;
  margin-top: 0.1em;
  margin-bottom: 0;
}

.currentStateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOutcomeWinner, .gameOutcomeLoser {
  display: none;
  justify-content: center;
  align-items: center;
}

.winnerGif, loserGif {
  width: 190px;
  height: auto;
}

.intro {
  font-size: 1.4em;
  text-align: center;
  padding-left: 0.4;
  margin: 0;
  margin-bottom: 0.4em;
}

.image-container {
  background-image: url("/images/favourite\ cassette\ full\ size.jpg"), 
  linear-gradient(to bottom right , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  overflow-x: hidden;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 500;
  margin-bottom: 1em;
  border-radius:8px;
}

.newGameButton {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid transparent;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 0.6em;
  width: 90%;
  font-size: 1.6em;
  font-weight: 500;
  font-family: inherit;
  background-color:rgb(244, 117, 20);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 0.9em;
  animation: pulse 4s infinite alternate; /* Apply the pulse animation */
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}


@media screen and (min-width: 768px) {



}